@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

%paletteWhite {
    @include setColorPalette($color_white, $color_dark);
}

%paletteWhiteWithBorder {
    @extend %paletteWhite;
    border: 2px solid $color_light;
    transition: border-color 0.5s background-color 0.5s;
    border-radius: 5px;

    &:hover {
        border-color: $color_contrast;
        background-color: $color_light;
    }
}
