@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.label-for-added-item {
    @extend %fontLabel;
    @extend %paletteWhiteWithBorder;
    @extend %rowSpaceBetween;
    height: 20px;
    margin: 5px;
    max-width: 120px;
    padding: 5px 5px 5px 10px;

    .btn-close {
        @extend %rowCentered;
        background-color: transparent;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        height: 20px;
        margin: 3px;
        padding: 5px;
        width: 20px;

        &:hover {
            background-color: $color_white;
            border-color: $color_medium;
            color: $color_dark;
        }
        &:active {
            background-color: $color_light;
            border-color: $color_light;
            color: $color_dark;
        }
    }
}
