@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.suggestions-list-item {
    @extend %paletteWhiteWithBorder;
    @extend %rowLeft;
    border: 1px solid $color_light;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 90vw;
}