@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.suggestions-list-item {
    @extend %paletteWhite;
    @extend %rowLeft;
    border-bottom: 0.5px solid $color_light;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    width: 80vw;
    &:hover {
        background-color: $color_light;
        border: 0.5px solid $color_medium;
    }
    
    p {
        padding: 0 5px;
        width: 80vw;
    }
}